@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue: #1a75ff;
  --light-blue: #aaccff;
  --light-grey: #adadad;
  --grey: #666666;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
p {
  font-size: 1.3rem;
}
#root {
  display: flex;
  flex-direction: row;
  gap: calc(5.6rem / 1.5);
}
html {
  font-size: 62.5%;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

body {
  display: flex;
  margin: 0 auto;
  max-width: 90rem;
}

img {
  border-radius: 0.8rem;
}
.item-img-wrapper {
  gap: calc(2.2rem / 1.5);
}
.item-view-wrapper {
  gap: calc(2.4rem / 1.5);
}

.item-view-wrapper img {
  width: calc(8rem / 1.5);
  height: calc(10.4rem / 1.5);
}

.item-view-wrapper img,
.choose-size p,
button {
  cursor: pointer;
}

.item-view-wrapper img:hover {
  transition: transform 0.1s ease-in;
  transform: scale(1.1);
}
.current-view img {
  height: calc(63.2rem / 1.5);
  width: calc(49.4rem / 1.5);
}

.item-info-wrapper {
  width: 33rem;
}

.brand {
  color: var(--blue);
}

.item-name {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: calc(2rem / 1.5) 0;
}

.item-info {
  font-size: 1.05rem;
  margin: 1rem 0 3rem 0;
  color: var(--grey);
}

.new-price {
  align-items: center;
}

.new-price h2 {
  font-size: 3rem;
  margin-right: 1rem;
}

.new-price p {
  border-radius: 0.4rem;
  padding: 0.1rem 0.5rem;
  color: var(--blue);
  background: var(--light-blue);
}

.price-wrapper > p {
  color: var(--light-grey);
  text-decoration: line-through;
}

.size-wrapper {
  margin-top: calc(3.9rem / 1.5);
}

.choose-size {
  margin-top: calc(2.4rem / 1.5);
  gap: 1.5rem;
}
.choose-size p {
  width: calc(4.8rem / 1.5);
  height: calc(4.8rem / 1.5);
  align-items: center;
  justify-content: center;
  color: black;
}
.size-active {
  background: black;
  color: white !important;
}

.atc-btn {
  border: 0;
  color: white;
  width: 100%;
  border-radius: 0.4rem;
  height: calc(5.5rem / 1.5);
  margin-top: 3rem;
  background: var(--blue);
}

.active {
  border: 2px solid black;
}
